{% extends 'gallery/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Confirmer la suppression</h4>
            </div>
            <div class="card-body text-center">
                <p>Êtes-vous sûr de vouloir supprimer l'image "{{ image.title }}"?</p>
                <img src="{{ image.image.url }}" class="img-fluid mb-3" alt="{{ image.title }}" style="max-height: 200px;">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Oui, supprimer</button>
                    <a href="{% url 'gallery-home' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}